<div class="card mb-4 bg-light rounded">
    <div class="card-body">
      <div class="d-flex">
        <div class="flex-grow-1">
          
          <h5 class="card-title">
            <%= person.salutation %> 
            <%= person.first_name %> 
            <%= person.middle_name %> 
            <%= person.last_name %>
          </h5>

          <% if person.birth_date.present? %>
            <h6 class="card-subtitle mb-2 text-muted">
              DOB: <%= person.birth_date.strftime('%B %d, %Y') %>
            </h6>
          <% end %>

          <% if person.ssn.present? %>
            <h6 class="card-subtitle mb-2 text-muted">
              SSN: <%= person.ssn %>
            </h6>
          <% end %>

          <% if person.comment.present? %>
            <p class="card-text mb-3">
              <%= person.comment %>
            </p>
          <% end %>
        </div>

        <div>
          <a href="#more-info-<%= person.id %>" class="btn btn-primary" data-bs-toggle="collapse">More Info</a>
          <button class="btn btn-primary" type="button" name="Edit Person" data-bs-toggle="collapse" data-bs-target="#editPerson<%= person.id %>">
            Edit Person
          </button>
          <%= link_to 'Delete Person', person, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        </div>
      </div>

      <div class="collapse" id="editPerson<%= person.id %>">
        <%= render 'form', person: person %>
      </div>

      <div class="collapse" id="more-info-<%= person.id %>">
        <%= render 'addresses/show', addresses: person.addresses, person_id: person.id %>
        <div>
          <button class="btn btn-primary mt-4 mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#addAddressForm-<%= person.id %>">
            Add New Address
          </button>
          <button class="btn btn-primary mt-4 mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#addEmailForm-<%= person.id %>">
            Add New Email
          </button>
        </div>
      </div>

      <div class="collapse" id="addAddressForm-<%= person.id %>">
        <%= render 'addresses/form', address: @address, person_id: person.id %>
      </div>

      <div class="collapse" id="addEmailForm-<%= person.id %>">
        <%= render 'emails/form', email: @email, person_id: person.id %>
      </div>

    </div>
  </div>
