<div class="mt-4 p-5 bg-light text-black rounded">
  <h1>
    <%= @person.salutation %>
    <%= @person.first_name %>
    <%= @person.middle_name %>
    <%= @person.last_name %>
  </h1>
  
  <p>
    <%= @person.ssn %> <br/>
    <%= @person.birth_date %> <br/>
    <%= @person.comment %> <br/>
  </p>

  <%= link_to 'Back', people_path, class: "btn btn-primary" %>
</div>