<p id="notice"><%= notice %></p>

<div class="mt-4 p-5 bg-light text-black rounded">
  <h1>
    <%= @person.salutation %>
    <%= @person.first_name %>
    <%= @person.middle_name %>
    <%= @person.last_name %>
  </h1>
  <p>
    <%= @person.ssn %> <br/>
    <%= @person.birth_date %> <br/>
    <%= @person.comment %> <br/>
  </p>

  <%= link_to 'Edit', edit_person_path(@person), class:"btn btn-primary" %> 
  <%= link_to 'Back', people_path, class: "btn btn-primary" %>
</div>



<!--
<p>
  <strong>Salutation:</strong>
  <%= @person.salutation %>
</p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @person.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @person.ssn %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @person.birth_date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @person.comment %>
</p>

<%= link_to 'Edit', edit_person_path(@person), class: "btn btn-primary" %>
<%= link_to 'Back', people_path, class: "btn btn-primary" %>
-->