<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>
      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :street, class:"form-label" %>
    <%= form.text_field :street, class:"form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :town, class:"form-label" %>
    <%= form.text_field :town, class:"form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :zip_code, class:"form-label" %>
    <%= form.text_field :zip_code, class:"form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :state, class:"form-label" %>
    <%= form.text_field :state, class:"form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :country, class:"form-label" %>
    <%= form.text_field :country, class:"form-control" %>
  </div>

  <div>
    <%= form.text_field :user_id, id: :person_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div> 

  <%= hidden_field_tag :person_id, person_id %>

  <div class="actions mt-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
  
<% end %>
