<%= form_with(model: email) do |form| %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
        <% email.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :email_address, class:"form-label" %>
    <%= form.text_field :email_address, class:"form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :comment, class:"form-label" %>
    <%= form.text_area :comment, class:"form-control" %>
  </div>

  <div>
    <%= form.text_field :user_id, id: :person_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div> 

  <%= hidden_field_tag :person_id, person_id %>

  <div class="actions mt-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>
